<%= link_to 'Sign in', new_user_session_path %>

<%= button_to 'New post', "/posts/new" %>
<table>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= image_tag user.photo,
        alt: "User Photo", width: "100" %>
      </td>
      <td>
        <%= content_tag :h2, user.name %>
        <%= content_tag :p, "Number of posts: #{user.posts_counter}" %>
      </td>
      <td><%= link_to '>', "/users/#{user.id}" %></td>
    </tr>
  <% end %>
</table>