<%if current_user%>
<%= content_tag :h2, "Welcome #{current_user.name}" %>
<%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
<%= link_to 'Edit Profile',  edit_user_registration_path %>
<%= button_to 'New post', post_new_path %>
<% else %>
<%= link_to 'Sign in', new_user_session_path %>
<% end %>
<table>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= image_tag user.photo,
        alt: "User Photo", width: "100" %>
      </td>
      <td>
        <%= content_tag :h2, user.name %>
        <%= content_tag :p, "Number of posts: #{user.posts_counter}" %>
      </td>
      <td><%= link_to '>', "/users/#{user.id}" %></td>
    </tr>
  <% end %>
</table>