<div class="user-item">
  <%= image_tag @user.photo,alt: "User Photo", class:"user-photo" %>
  <div class="user-info">
    <%= content_tag :h2, @user.name %>
    <%= content_tag :p, "Number of posts: #{@user.posts_counter}" %>
  </div>
</div>

<%= content_tag :h4, 'ALL POSTS', class:"post-list-title"%>
    
<% @posts.each do |post|%>
  <div class="user-bio">
    <a class="post-title label-link" href="<%= user_post_path(@user, post) %> ">
      <%= content_tag :h4, post.title %>
    </a>  
    <%= content_tag :p, post.text.truncate(100)%>
    <p>
      <%= content_tag :small, "Comments: #{post.comments_counter}, Likes: #{post.likes_counter}" %>
    </p>
      
    <div class='comments-box'>
      <%= content_tag :h5, 'Recent Comments', class:"recent-comments-header" %>          
      <% post.recent_comments.each do |comment|%>
        <p class="comment-item">
          <%= content_tag :span, "#{comment.user.name}:  ", class:"comment-author-name"%>
          <%= content_tag :span, comment.text %>
        </p>
      <% end %>
    </div>
  </div>      
     
    <%end%>
    <%= link_to 'Pagination', "/users/#{@user.id}/posts" %>
