<%= link_to 'Home', "/" %>
<table>
    <tr>
      <td>
        <%= image_tag @user.photo,
        alt: "User Photo", width: "180" %>
      </td>
      <td>
        <%= content_tag :h2, @user.name %>
        <%= content_tag :p, "Number of posts: #{@user.posts_counter}" %>
      </td>
    </tr>
</table>

<table>
    <tr><%= content_tag :th, 'ALL POSTS' %></tr>
    <% @posts.each do |post|%>
      <tr>
        <td>
          <%= content_tag :h4, post.title %>
          <%= content_tag :p, post.text.truncate(100)%>
          <p>
            <%= content_tag :small, "Comments: #{post.comments_counter}, Likes: #{post.likes_counter}" %>
          </p>
        </td>
        <td><%= link_to '>', "/users/#{@user.id}/posts/#{post.id}" %></td>

      </tr>
      <tr><td>
        <table>
          <tr>
            <% post.recent_comments.each do |comment|%>
            <%= content_tag :td, comment.user.name %>
            <%= content_tag :td, comment.text %>
          </tr>
        <% end %>
        </table>
      </td></tr>
    <%end%>
</table>