<h1>Given @post of given user</h1>

<table>
  <tr>
    <td>
      <p>
        <span><%= content_tag :big, "#{@post.title} by #{@user.name} " %></span>
        <span>
          <%= content_tag :small, "Comments: #{@post.comments_counter}, Likes: #{@post.likes_counter}" %>
        </span>
      </p>
      <%= content_tag :p, @post.text %>
    </td>
  </tr>
  <tr><td>
    <table>
      <tr>
        <% @comments.each do |comment|%>
        <%= content_tag :td, comment.user.name %>
        <%= content_tag :td, comment.text %>
      </tr>
    <% end %>
    </table>
  </td></tr>
</table>