
  
<div class="post-box">
  <h3>
    <%= content_tag :span, @post.title, class:"post-title" %>
      by 
    <%= content_tag :span, @user.name, class:"post-author" %>
  </h3>
    <span class="comments_likes_count">
      <%= content_tag :small, "Comments: #{@post.comments_counter}, Likes: #{@post.likes_counter}" %>
    </span>
  <%= content_tag :p, @post.text %>

  <div class="one-row-field">
    <%= button_to 'Comment', "/comments/new/#{@post.id}", method: :get %>
    <%= button_to 'Like', "/likes/create/#{@post.id}", method: :get %>
  </div>
</div>

</div class="comments-box">  
  <ul class="commemts-list">
    <% @comments.each do |comment|%>
      <li class="comment-item">
        <%= content_tag :span, comment.user.name, class:"comment-author-name" %>
        <%= content_tag :span, comment.text %>
      </li>
    <% end %>
  </ul>
</div>  